body{
    display: grid;
    justify-items: baseline;
    align-items: end;
    height: 100vh;
    background: transparent;
}

body main{
    display: grid;
    grid-template-rows: auto auto;
    gap: 1px;
    padding: 10px 0 160px 5px;
}

body main div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

body main div i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
}

body main div canvas {
    background: #000;
    border-radius: 50%;
}